:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #1b0760;
  --color-body: #918ca4;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Link */
a {
  text-decoration: none;
}

.link {
  font-size: 2rem;
}

.link--arrow {
  color: var(--color-accent);
  font-weight: bold;
  text-transform: uppercase;
}

.link--arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin-left 0.3s;
}

.link--arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link {
    font-size: 1.5rem;
  }
}

/* Badges */
.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.7rem 2rem;
  white-space: nowrap;
}

.badge--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.badge--dark-primary {
  background: #126de4; /* FIXME: Refactor using sas */
  color: #fff;
}

.badge--dark-secondary {
  background: #02cdf1; /* FIXME: Refactor using sas */
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
  padding: 0.7rem 1rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/* lists */
.list {
  color: var(--color-heading);
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

.list__item {
  margin-bottom: 1rem;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 2rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .list {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }

  .list--tick .list__item {
    padding-left: 0;
  }
}

/* icons */
.icon-wrapper {
  align-items: center;
  border-radius: 100%;
  display: inline-flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  padding: 12px;
}

.icon-wrapper--accent {
  background-color: var(--color-accent);
}

.icon-wrapper--white-gray {
  background-color: #f3f9fa; /* FIXME: Refactor using sas */
}

.icon-wrapper--dark-gray {
  background-color: #393939; /* FIXME: Refactor using sas */
}

.icon-wrapper--large {
  width: 80px;
  height: 80px;
}

.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--white {
  fill: #fff;
}

/* Buttons */
.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
  padding: 2rem 4rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}

.btn--secondary:hover {
  background-color: #00c2e4; /* FIXME: Refactor using sas */
}

.btn--accent {
  background-color: var(--color-accent);
  color: #fff;
}

.btn--accent:hover {
  background-color: #df2d01; /* FIXME: Refactor using sas */
}

.btn--outline {
  background-color: #fff;
  border: 2px solid var(--color-heading);
  color: var(--color-heading);
}

.btn--outline:hover {
  background-color: var(--color-heading);
  color: #fff;
}

.btn--stretched {
  padding: 2rem 8rem;
}

.btn--block {
  display: inline-block;
  width: 100%;
}

.btn--icon {
  padding-left: 3rem;
}

.btn--icon .icon {
  height: 2rem;
  margin-right: 10px;
  vertical-align: middle;
  width: 2rem;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* Inputs */
.input {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  outline: none;
  padding: 2rem 3.5rem;
  color: var(--color-heading);
}

.input::placeholder {
  color: var(--color-heading);
  font-size: 2rem;
  font-weight: 300;
  opacity: 0.3;
}

@media screen and (min-width: 1024px) {
  .input::placeholder {
    font-size: 1.5rem;
  }
}

/* Input-Groups */
.input-group {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  display: flex;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 2.5rem;
}

.input-group .btn {
  margin: 4px;
}

/* Cards */
.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
  transition: transform 0.3s;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card--primary .card__header {
  background-color: var(--color-primary);
  color: #fff;
}

.card--secondary .card__header {
  background-color: var(--color-secondary);
  color: #fff;
}

/* Plans */
.plan {
  color: #fff;
}

.plan .card__header {
  margin-bottom: 2rem;
  position: relative;
}

.plan--popular .card__header::before {
  content: url(../images/popular.svg);
  position: absolute;
  width: 40px;
  top: -2%;
  right: 10%;
}

.plan__title {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 0;
}

.plan__price {
  font-size: 6rem;
  margin-bottom: 4rem;
}

.plan__billing-cycle {
  opacity: 0.8;
  margin-right: 2rem;
}

.plan .badge {
  position: relative;
  top: -8px;
}

.plan__caption {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
}

.plan .list__item {
  margin-bottom: 2rem;
}

.plan .btn {
  margin-top: 2rem;
}

@media screen and (min-width: 1024px) {
  .plan__title {
    font-size: 1.4rem;
  }

  .plan__price {
    font-size: 5rem;
  }

  .plan__billing-cycle {
    font-size: 1.6rem;
  }

  .plan__caption {
    font-size: 1.7rem;
  }

  .plan .list {
    font-size: 1.8rem;
  }
}

/* Media objects */
.media-object {
  display: flex;
}

.media__image {
  margin-top: 1.5rem;
}

.media__body {
  margin: 0 2rem;
}

.media__title {
  margin-top: 0;
}

/* Quotes */
.quote {
  color: #5c5577; /* FIXME: Refactor using sas */
  font-size: 3rem;
  font-style: italic;
  font-weight: 500;
  line-height: 1.3;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

/* .quote .media__image {
  position: relative;
} */

.quote__icon {
  position: relative;
  top: -12px;
}

.quote__name {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 0;
  font-style: normal;
}

.quote__organization {
  color: var(--color-heading);
  opacity: 0.4;
  font-size: 2rem;
  font-style: normal;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }

  .quote__name {
    font-size: 2.4 rem;
  }

  .quote__organization {
    font-size: 1.6rem;
  }
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Testimonials */
.testimonial .card__header {
  position: relative;
  padding: 3rem 3.5rem;
}

.testimonial__image > img {
  width: 100%;
}

.testimonial__image .icon-wrapper {
  position: absolute;
  top: 10%;
  right: 0px;
}

.testimonial__quote {
  margin: 0;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .testimonial .quote,
  .testimonial .quote__name {
    font-size: 2.4rem;
  }
}

/* Callouts */
.callout {
  border-radius: 7px;
  padding: 4rem;
}

.callout--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.callout__content {
  text-align: center;
  margin-bottom: 2rem;
}

.callout__heading {
  color: #fff;
  margin-top: 0;
}

.callout__btn {
  align-self: center;
  justify-self: center;
}

@media screen and (min-width: 768px) {
  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }

  .callout__content {
    text-align: start;
  }

  .callout__btn {
    justify-self: start;
    margin-left: 2rem;
  }
}
