<section class="block block-domain">
  <div class="container">
    <header class="block__header block-domain__content">
      <h2 class="block__heading">The best web hosting Starting at per month</h2>
      <p class="block-domain__tagline">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique id
        repellendus unde consequatur pariatur consectetur ex! Vero possimus
        aliquam aperiam!
      </p>
    </header>
    <div class="input-group">
      <input
        type="text"
        placeholder="Enter your domain here....."
        class="input"
      />
      <button class="btn btn--accent btn--icon">
        <svg class="icon icon--white">
          <use xlink:href="images/sprite.svg#search"></use>
        </svg>
        Search
      </button>
    </div>
    <ul class="list list--inline block-domain__prices">
      <li class="list__item">.com $9.17</li>
      <li class="list__item">
        <span class="badge badge--secondary">.space $12.98</span>
      </li>
      <li class="list__item">.sg $71</li>
      <li class="list__item">.info $15.43</li>
      <li class="list__item">.net $12.55</li>
      <li class="list__item">.xyz $11.56</li>
      <li class="list__item">More..</li>
    </ul>
  </div>
</section>
