<section class="block block-plans">
  <div class="container grid grid--1x3">
    <div class="card card--secondary">
      <div class="plan">
        <div class="card__header">
          <p class="plan__title">Entry</p>
          <span class="plan__price">$14</span>
          <span class="plan__billing-cycle">/month</span>
          <span class="badge badge--dark-secondary">10% OFF</span>
          <p class="plan__caption">Easy start on the cloud</p>
        </div>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Unlimited Websites</li>
            <li class="list__item">Unlimited Bandwidth</li>
            <li class="list__item">100 GB Storage</li>
            <li class="list__item">3GB SSD</li>
          </ul>
          <a href="" class="btn btn--block btn--outline">Get Started</a>
        </div>
      </div>
    </div>
    <div class="card card--primary card--popular">
      <div class="plan plan--popular">
        <div class="card__header">
          <p class="plan__title">Entry</p>
          <span class="plan__price">$14</span>
          <span class="plan__billing-cycle">/month</span>
          <span class="badge badge--dark-primary">10% OFF</span>
          <p class="plan__caption">Easy start on the cloud</p>
        </div>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Unlimited Websites</li>
            <li class="list__item">Unlimited Bandwidth</li>
            <li class="list__item">100 GB Storage</li>
            <li class="list__item">3GB SSD</li>
          </ul>
          <a href="" class="btn btn--block btn--outline">Get Started</a>
        </div>
      </div>
    </div>
    <div class="card card--secondary">
      <div class="plan">
        <div class="card__header">
          <p class="plan__title">Entry</p>
          <span class="plan__price">$14</span>
          <span class="plan__billing-cycle">/month</span>
          <span class="badge badge--dark-secondary">10% OFF</span>
          <p class="plan__caption">Easy start on the cloud</p>
        </div>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Unlimited Websites</li>
            <li class="list__item">Unlimited Bandwidth</li>
            <li class="list__item">100 GB Storage</li>
            <li class="list__item">3GB SSD</li>
          </ul>
          <a href="" class="btn btn--block btn--outline">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</section>
