<div class="collapsible">
  <div class="collapsible__header">
    <h2 class="collapsible__heading">Heading</h2>
    <span class="icon-wrapper icon-wrapper--dark-gray collapsible__chevron">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#chevron"></use>
      </svg>
    </span>
  </div>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit veniam sit
    dolorum quis cumque recusandae eum nulla aspernatur soluta odit.
  </div>
</div>
