<blockquote class="quote">
      <p class="quote__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis,
        consequuntur sunt! Facilis numquam itaque aut maxime fugit facere libero
        quas in magnam. Accusantium accusamus veniam omnis laborum atque,
        voluptatum minus.
      </p>
      <div class="media-object">
        <div class="media__image">
          <svg class="icon icon--primary quote__icon">
            <use xlink:href="images/sprite.svg#line"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title quote__name">John Smith</h3>
          <p class="quote__organization">ABC Company</p>
        </div>
</blockquote>