<div class="card testimonial">
      <div class="grid grid--1x2">
        <div class="card__header testimonial__image">
          <span class="icon-wrapper icon-wrapper--accent icon-wrapper--large">
            <svg class="icon icon--white">
              <use xlink:href="images/sprite.svg#quotes"></use>
            </svg>
          </span>
          <img src="images/testimonial.jpg" alt="A smiley happy customer face">
        </div>
        <div class="card__body">
          <blockquote class="quote">
            <p class="quote__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis,
              consequuntur sunt! Facilis numquam itaque aut maxime fugit facere libero
              quas in magnam. Accusantium accusamus veniam omnis laborum atque,
              voluptatum minus.
            </p>
            <div class="media-object">
              <div class="media__image">
                <svg class="icon icon--primary quote__icon">
                  <use xlink:href="images/sprite.svg#line"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title quote__name">John Smith</h3>
                <p class="quote__organization">ABC Company</p>
              </div>
      </blockquote>
        </div>
      </div>
    </div>